
[color-bg-main]{
  background-color: #F46060;
}
[color-bg-main-alt]{
  background-color: #005189;
}
[color-bg-main-ligther]{
  background-color: #FBBFBF;
}
[color-bg-dark]{
  background-color: #283344;
}
[color-bg-light]{
  background-color: white;
}

[color-main]{
  color: #F46060;
}
[color-main-alt]{
  color: #005189;
}
[color-main-ligther]{
  color: #FBBFBF;
}
[color-dark]{
  color: #283344;
}
[color-light]{
  color: white;
}

[border-light]{
  border-color: white;
}

