@media screen and (min-width: 1024px) {
  
  [hideItIfMobile]{
    display: block;
  }

  [showItIfMobile]{
    display: none;
  }

  .svg_wrapper_header_name{
    width: 43rem;
  }
  .svg_wrapper_header{
    height: 7rem;
  }
  .section_main_wrapper{
    flex-direction: row;
  }
  .section_main_wrapper .header{
    position: absolute;
    top: 0;
    width: 100%;
    right: 0;
    left: 0;
    z-index: 3000;
    box-shadow: 0px -2px 30px rgba(113, 113, 110, 0.19);

  }
  .encryption .main_content_bottom{ 
    background-color: #FAFAFA;
    color: #283344;
  }
  .encryption{ 
    background-color: #FAFAFA;
  }
  .encryption .main_keyslider{
    background-color: #283344;
    color: #FAFAFA;
  }
  .encryption .main_keyslider_bottom_label{
    color: #FAFAFA;
  }
  .encryption .main_content_top_label{
    color: #FAFAFA;
  }
  .main_key_panel_emoji_container{
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
/*    margin-top: 27rem;*/
    margin-bottom: 3rem;
    height: 100%;
    overflow-y: scroll;
  }
  .main_key_panel_emoji_container p{
    margin: 3px;
    font-size: 3.7rem;
  }
  .main_content_top,
  .main_keyslider{
    height: 100%;
    width: 33.33%;
    padding: 0;
  }
  .main_content_bottom{
    height: 100%;
    margin-bottom: 0;
    padding-top: 0;
  }
  .main_key_panel_emoji_wrapper{
    height: 100%;
    padding-top: 27rem;
  }
  .main_key_panel_emoji_wrapper .emoji {
    cursor: pointer;
  }
  .header__label{
      top: 13.8rem;
      left: 3.7rem;
      font-size: 1.5rem
  }
  .encryption .main_content_top_input,
  .encryption .main_content_bottom_input{
  padding: 28rem 5rem 1rem 3.7rem;
  margin: 0;
  }
  .svg_wrapper_x{
    top: 26.7rem;
  }
  .main_keyslider .header__label{
    top: 13.8rem;
  }
  .section_more{
    display: none;
    z-index: 3000;
    height: 20rem;
    top: auto;
    flex-direction: row-reverse;
    padding: 0;
    justify-content: flex-end;
    align-items: flex-end;
    transition: all .5s;
    transform: translate(0,0);
  }
  .more_text_title{
    color: gray;
  }
  .more_text{
    align-items: flex-start;
    margin: 0;
    position: relative;
    padding-left: 6rem;
    padding-right: 2rem;

  }
  .more_text:after{
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #FAFAFA;
  }
  .svg_wrapper_more{
    margin: 0;
  }
  .header_desktop_lable{
    margin: 0rem 0 2rem 0;
  }
  .desktop_main_selected_key{
    height: 28rem;
    align-content: flex-end;
    align-items: flex-end;
    padding: 1rem 3.4rem;
    position: absolute;
  }
  .svg_wrapper_header_logo_wrp{
    margin-left: 9rem;
    align-items: flex-start;
  }
  .desktop_key{
    font-size: 7rem;
    transform: translate(0,15px);
  }
  .main_share{
    margin-left: 33.33%;
    bottom: 21rem;
  }
  .more_text_wpr{
    height: 100%;
    min-width: 66.66%;
  }
  .svg_wrapper_header_logo{
    width: 11rem;
    height: auto;
    margin: 2rem 0 5rem 0;
  }
  .unselectable {
    /* enable selection */
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
  .header__input{
    font-size: 2.4rem;
  }
  .encryption .main_content_top_input {
    line-height: 120%;
  }
  .welcome_text{
    font-family: "fira_sans";
    font-size: 140%;
    line-height: 140%;
    text-align: center;
  }
}


