  /*
color palette

  black
  #5D5D5D

  gray
  #B3B3B3

  light gray
  #E5E5E5
*/


@font-face {
    font-family: 'fira_mono';
    src: url('../font/firamono-bold-webfont.eot');
    src: url('../font/firamono-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/firamono-bold-webfont.woff2') format('woff2'),
         url('../font/firamono-bold-webfont.woff') format('woff'),
         url('../font/firamono-bold-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'fira_mono';
    src: url('../font/firamono-medium-webfont.eot');
    src: url('../font/firamono-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/firamono-medium-webfont.woff2') format('woff2'),
         url('../font/firamono-medium-webfont.woff') format('woff'),
         url('../font/firamono-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'fira_mono';
    src: url('../font/firamono-regular-webfont.eot');
    src: url('../font/firamono-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/firamono-regular-webfont.woff2') format('woff2'),
         url('../font/firamono-regular-webfont.woff') format('woff'),
         url('../font/firamono-regular-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* color */

[gray]{
  color: #B3B3B3;
  border-bottom-color: #B3B3B3; 
}

/* text */

[style-title]{
    font-weight: 500;
    font-size: 190%;
    letter-spacing: 5px;
    line-height: 109%;
}

[style-text]{
    font-weight: 300;
    font-size: 100%;
    line-height: 22px;
    letter-spacing: 1px;
}

[style-sub]{
    font-weight: 500;
    font-size: 140%;
    letter-spacing: 5px;
    line-height: 109%;
}


[style-lable]{
    font-weight: 500;
    font-size: 70%;
    letter-spacing: 1px;
    line-height: 109%;
}

[style-input]{
    font-weight: 300;
    font-size: 80%;
    letter-spacing: 1px;
    line-height: 109%;
}

[style-huge]{
    font-weight: 500;
    font-size: 400%;
    letter-spacing: 5px;
    line-height: 109%;
}

/* buttons */

[button-box]{
  font-weight: 800;
  padding:10px 15px;
  background-color: transparent;
  border:2px solid #5D5D5D;
  cursor:pointer;
  color: #5D5D5D;
  outline: none;
  display:inline-block;
  text-shadow: none;
  text-decoration: none; 
  font-size: 80%;
}

[button-box]:active{
  position:relative;
  top:1px;
  text-decoration:none;
  background-color: #B3B3B3;
}

[button-line]{
  font-weight: 800;
  background-color: transparent;
  border: none;
  cursor:pointer;
  outline: none;
  display:inline-block;
  text-shadow: none;
  text-decoration: none; 
  font-size: 80%;
  border-bottom: solid 2px;
}

[button-line]:active{
  position:relative;
  top:1px;
  text-decoration:none;
  background-color: #B3B3B3;
}



[text="small-medium"]{
    font-weight: 500;
    font-size: 80%;
    margin: 0;
    padding: 0;
}

[text="title lightblue"]{
    color: rgb(71, 188, 217);;
}

[text="title blue"]{
    color: #01898B;
}

[text="title white"]{
    color: white;
}

[bold]{
    font-weight: 700!important;
}

[bolder]{
    font-weight: 900!important;
}

[medium]{
    font-weight: 500!important;
}

[wide]{
    width: 100%;
}

[center]{
    text-align: center;
}

[uppercase]{
    text-transform: uppercase;
}

