@font-face {
    font-family: 'neosans';
    src: url('../assets/font/neosansarabic-light.eot');
    src: url('../assets/font/neosansarabic-light.woff') format('woff'),
         url('../assets/font/neosansarabic-light.ttf') format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'neosans';
    src: url('../assets/font/neosansarabic.eot');
    src: url('../assets/font/neosansarabic.woff') format('woff'),
         url('../assets/font/neosansarabic.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'neosans';
    src: url('../assets/font/neosans-medium-webfont.eot');
    src: url('../assets/font/neosans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/font/neosans-medium-webfont.woff2') format('woff2'),
         url('../assets/font/neosans-medium-webfont.woff') format('woff'),
         url('../assets/font/neosans-medium-webfont.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'neosans';
    src: url('../assets/font/neosans-bold-webfont.eot');
    src: url('../assets/font/neosans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/font/neosans-bold-webfont.woff2') format('woff2'),
         url('../assets/font/neosans-bold-webfont.woff') format('woff'),
         url('../assets/font/neosans-bold-webfont.ttf') format('truetype');
    font-weight: 900;
}
@font-face {
    font-family: 'MJDubai';
    src: url('../assets/font/MJDubaibold.eot');
    src: url('../assets/font/MJDubaibold.woff') format('woff'),
         url('../assets/font/MJDubaibold.ttf') format('truetype');
    font-weight: 900;
}
@font-face {
    font-family: 'MJDubai';
    src: url('../assets/font/MJDubaiLight.eot');
    src: url('../assets/font/MJDubaiLight.woff') format('woff'),
         url('../assets/font/MJDubaiLight.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'MJDubai';
    src: url('../assets/font/MJDubaiLight.eot');
    src: url('../assets/font/MJDubaiLight.woff') format('woff'),
         url('../assets/font/MJDubaiLight.ttf') format('truetype');
    font-weight: 700;
}
[text="title"],
[text="title lightblue"],
[text="title blue"],
[text="title white"]{
    font-weight: 100;
    font-size: 250%;
    margin: 3rem 0 .5rem 0;
    padding: 0;
    letter-spacing: 2px;
}

[text="subtitle"],
[text="subtitle lightblue"],
[text="subtitle blue"],
[text="subtitle white"]{
    font-weight: 700;
    font-size: 115%;
    margin: .2rem 0;
    padding: 0;
    letter-spacing: 1px;
}

[text="small"],
[text="small lightblue"],
[text="small blue"],
[text="small white"]{
    font-weight: 100;
    font-size: 100%;
    margin: 1rem 0;
    padding: 0;
    line-height: 26px;
}

[text="medium"],
[text="medium lightblue"],
[text="medium blue"],
[text="medium white"]{
    font-weight: 100;
    font-size: 160%;
    margin: 2rem 0;
    padding: 0;
    line-height: 30px;
    letter-spacing: 2px;
}

[text="small-medium"],
[text="small-medium lightblue"],
[text="small-medium blue"],
[text="small-medium white"]{
    font-weight: 500;
    font-size: 80%;
    margin: 0;
    padding: 0;
}

[text="title lightblue"],
[text="subtitle lightblue"],
[text="small lightblue"],
[text="medium lightblue"],
[text="small-medium lightblue"]{
    color: rgb(71, 188, 217);;
}

[text="title blue"],
[text="subtitle blue"],
[text="small blue"],
[text="medium blue"],
[text="small-medium blue"]{
    color: #01898B;
}

[text="title white"],
[text="subtitle white"],
[text="small white"],
[text="medium white"],
[text="small-medium white"]{
    color: white;
}

[bold]{
    font-weight: 700!important;
}

[bolder]{
    font-weight: 900!important;
}

[medium]{
    font-weight: 500!important;
}

[wide]{
    width: 100%;
}

[center]{
    text-align: center;
}

[uppercase]{
    text-transform: uppercase;
}

