html{
    font-size: 10px;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*{
  box-sizing: border-box;
}

body{ 
  margin: 0;
  padding:  0;
  letter-spacing: 1px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: "fira_mono", "fira_sans", verdana;
  color: #5D5D5D;
  overflow: hidden;
  position: relative;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a ,a:visited ,a:hover ,a:active{
  color:inherit;
  text-decoration: none;
  cursor: pointer;
}

svg *{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;   
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none; 
}

svg{
  margin: 0;
  padding: 0;
}

[hideItIfMobile]{
  display: none;
}

[showItIfMobile]{
  display: block;
}

.section{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  display: none;
}

.section-show{
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
@media screen and (max-height: 500px) {
  .section-show{
    display: block !important;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 2px 0 2px;
  vertical-align: -0.1em;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media only screen and (max-width: 778px) and (orientation:landscape) {
  .landscape-overlay {
    display: block;
  }
}

[wide]{
  width: 100%;
}


[scroll-y]{
    overflow:hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
[scroll-x]{
    overflow:hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
