#header {
  display: none;
}

#encryption_share_button {
  display: none;
}

#encryption_input_cleaner {
  display: none;
}

#encryption_input_count {
  display: none;
}

#decryption_reply_button {
  display: none;
}
