.header{
  position: fixed;
  z-index: 2000;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  height: 45px;
  background-color: white;
}

.header_share{
  position: absolute;
  top: 50%;
  right: 10px;
  display: none;
  transform: translate(0,-50%);
}


.header_title{
  position: relative;
  padding-left: 2rem;
  margin: 0;
  height: 100%;
  font-size: 100%;
  color: gray;
}

.header_home_button{
    border: none;
    background-color: transparent;
}
