.section_welcome{
  z-index: 10;
  text-align: center;
  /*padding: 2rem 3.5rem;*/
}

.welcome_button_more{
    margin-bottom: 2.2rem;
    font-size: 1.8rem;
    border-radius: 10rem;
    min-height: 3.7rem;
}

.welcome_button_send{
  margin-bottom: 2rem;
  font-size: 1.2rem;
  border-radius: 10rem;
}

.svg_wrapper_header_logo {
    width: 9rem;
    height: auto;
    margin: 1rem 0 3rem 0;
}

.section_welcome_header{
  min-height: 15rem;
  padding-bottom: 1rem;
}

.svg_wrapper_header_name{
  width: 22rem;
  height: auto;
}

.section_welcome_header_text{
  position: 0 2rem;
}
.welcome_text{
  font-family: "fira_sans";
  font-size: 100%;
  line-height: 140%;
  text-align: center;
  margin-bottom: 3rem;
}

.section_welcome_main{
  padding: 2rem;
  position: relative;
}

.welcome_link{
  margin: 0;
  margin-left: 5px;
}

.welcome_link_wrapper{
  font-family: "fira_sans";
  position: absolute;
  bottom: 1rem;
  left: 2rem;
}

.welcome_link_wrapper p{
  font-size: 80%;
  margin: 0;
  padding: 0;
  margin-right: 19px;
  margin-left: 5px;
  opacity: .8;
}

.section_welcome_footer{
  min-height: 9rem; 
}

.section_welcome_footer p{
  font-family: "fira_sans";
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

}

.landing_small_text{
  font-family: "fira_sans";
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 88%;
  text-align: center;
  /* max-width: 20rem; */
  margin-bottom: 20px;
  opacity: .6;
}

.section_welcome_header_text{
  text-align: center;
}

.svg_wrapper_header_logo_wrp{
  align-items: center;
}

.welcome_link_wrapper_opacity{
  opacity: .5;
  margin-left: 15px;
  color: white;
  font-family: "fira_sans"
}

.mobile_footer_small{
  position: absolute;
  bottom: 1rem;
  width: 100%;
  right: 0;
  left: 0;
}
