.credits_text{
  color: white;
  font-family: 'fira_sans';
  text-align: center;
  font-weight: 100;
  max-width: 50rem;
}

.credits_text a{
  font-size: 90%;
  opacity: .6;
}

.credits_text a:hover{
  color: #F46060;
  opacity: 1;

}

.credits_vendor{
  overflow-y: scroll;
}

.credits_section .content>div{
  max-height: 50%;
}

.credits_section .content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
}

.svg_wrapper_x_button{
  position: absolute;
  width: 2rem;
  top: 2rem;
  right: 2rem;
  fill: white;
  cursor: pointer;
}

.credits_text_main{
  max-width: 50rem;
  color: white;
  font-family: 'fira_sans';
  text-align: center;
  font-weight: 100;
}

.credits_text_main a{
  color: #f46060;
   font-weight: 800;
}

.credits_text_main a:hover{
  background-color: #005189;
  color: white;
}

.credits_vendor::-webkit-scrollbar { 
    display: none; 
}
