.section_onboarding{
  z-index: 10;
  background-color: #E5E5E5;
  text-align: center;
  overflow: hidden;
  width: 100%;
}

.svg_wrapper_onboarding{
  width: 16rem;
  margin-bottom: 2rem;
}

.onboarding_sentence p{
  margin: 0;
  padding: 0;
}

.onboarding_sentence{
  margin: 4rem 0;
  min-height: 14rem;
}


.slider_wrapper{
  width: 600%;
  height: 100%;
  position: absolute;
  opacity: .15;
}

.onboarding_end_button{
  margin-top: 4rem;
}

.onboarding_pages_circle{
  opacity: .5;
}
.step-0 .onboarding_sentence_0, .step-0 .svg_wrapper_onboarding_0,
.step-1 .onboarding_sentence_1, .step-1 .svg_wrapper_onboarding_1,
.step-2 .onboarding_sentence_2, .step-2 .svg_wrapper_onboarding_2,
.step-3 .onboarding_sentence_3, .step-3 .svg_wrapper_onboarding_3,
.step-4 .onboarding_sentence_4, .step-4 .svg_wrapper_onboarding_4,
.step-5 .onboarding_sentence_5, .step-5 .svg_wrapper_onboarding_5{
  display: block;
}


.onboarding_pages{
  transition: opacity 1s;
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%,0);
          transform: translate(-50%,0);
}
.onboarding_pages.hide{
  opacity: 0;
}

.onboarding_pages > div{
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
  margin: 0 3px;
  opacity: .25;
  transition: opacity 1s;
}
.onboarding_pages > div.current{
  opacity: 1;
}

#onboarding_svg{
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}