.section_onboarding{
  z-index: 10;
  background-color: #E5E5E5;
  text-align: center;
  padding: 0 3.5rem;
}

.svg_wrapper_onboarding{
  width: 16rem;
  margin-bottom: 2rem;
}

.onboarding_sentence p{
  margin: 0;
  padding: 0;
}

.onboarding_sentence{
  margin: 4rem 0;
  min-height: 14rem;
}

.onboarding_sentence,
.svg_wrapper_onboarding{
  display: none;
}

.onboarding_end_button{
  margin-top: 4rem;
}

.onboarding_pages_circle{
  opacity: .5;
}
.step-0 .onboarding_sentence_0, .step-0 .svg_wrapper_onboarding_0,
.step-1 .onboarding_sentence_1, .step-1 .svg_wrapper_onboarding_1,
.step-2 .onboarding_sentence_2, .step-2 .svg_wrapper_onboarding_2,
.step-3 .onboarding_sentence_3, .step-3 .svg_wrapper_onboarding_3,
.step-4 .onboarding_sentence_4, .step-4 .svg_wrapper_onboarding_4,
.step-5 .onboarding_sentence_5, .step-5 .svg_wrapper_onboarding_5{
  display: block;
}

.step-0 .onboarding_pages_circle_0,
.step-1 .onboarding_pages_circle_1,
.step-2 .onboarding_pages_circle_2,
.step-3 .onboarding_pages_circle_3,
.step-4 .onboarding_pages_circle_4,
.step-5 .onboarding_pages_circle_5{
  opacity: 1;
}
.onboarding_pages{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%,0);
}

.onboarding_pages_circle{
  width: 8px;
  height: 8px;
  background-color: gray;
  border-radius: 50%;
  margin: 0 3px;
}
