.section_welcome{
  z-index: 10;
  text-align: center;
  /*padding: 2rem 3.5rem;*/
}

.welcome_button_more{
    margin-bottom: 2rem;
    font-size: 1.8rem;
    border-radius: 10rem;
}

.welcome_button_send{
  margin-bottom: 2rem;
  font-size: 1.2rem;
  border-radius: 10rem;
}

.svg_wrapper_header_logo{
  width: 11rem;
  height: auto;
  margin: 2rem 0 5rem 0;
}

.section_welcome_header{
  min-height: 15rem;
}

.svg_wrapper_header_name{
  width: 27rem;
  height: auto;
}

.welcome_text{
  font-family: 'fira_sans';
}
