.section_share{
  text-align: center;
  color: white;
  height: 100%;
  width: 100%; 
  z-index: 3000; 
}

.share_message{
  /*height: 60%;*/
  font-size: 125%;
  letter-spacing: 2px;
  line-height: 120%;
  width: 100%;
  margin-bottom: 2rem;
}

.section_share .main_content_bottom_input{
  margin-bottom: .2rem;
}

.share_key{
  /*height: 12rem;*/
  font-size: 90%;
  letter-spacing: 2px;
  line-height: 120%;
  width: 100%;
  padding: 0 2rem;
  text-align: left;
  font-weight: 100;
  padding-bottom: 0.5rem;
}

.share_more{
  height: 7rem;
  font-size: 90%;
  letter-spacing: 2px;
  /*line-height: 120%;*/
  width: 100%;  
  padding: 1rem 1.5rem;
  position: relative;
  /*padding-bottom: 1.7rem;*/
}
.share_more p{
  letter-spacing: -1px;
}
/*.share_more_arrow{
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translate(-50%,0) rotate(45deg);
  border-bottom: solid 2px white;
  border-top: transparent;
  border-left: transparent;
  border-right: solid 2px white;
  transition: bottom .5s ease;
  transition-delay: 2s;
}*/

/*.share_more_arrow.shown{
  bottom: 14px;
}*/

.share_social{
  width: 100%;
  /*min-height: 17rem;*/
  /*padding: .8rem 3rem 1rem 3rem;*/
  margin-bottom: 4rem
}

.share_social_lable{
  /*text-transform: lowercase!important;*/
  font-weight: 100;
}

.share_message_exit{
  font-weight: 100;
  /* margin: 0; */
  /* width: auto; */
  background-color: transparent;
  /* border: none; */
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  /* text-decoration: none; */
  /* text-shadow: none; */
  font-size: 125%; 
  /* color: white; */
  /* outline: none; */
  line-height: 0.8;
}

.svg_wrapper_social{
  width: 4rem;
  height: 4rem;
  position: relative;
}

.share_key_emoji{
  font-size: 250%;
  position: relative;
  text-align: center;
  min-width: 5rem;
  min-height: 2rem;
}

p.share_key_emoji-item {
  position: absolute;
  margin: 0;
  left: 0;
  top: -2.5rem;
  border-radius: 50%;
  border: 6px solid;
  min-width: 5rem;
  min-height: 5rem;
}

/*.share_key_emoji:before{
  content: "";
  width: 5rem;
  height: 5rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 3001;
}*/

.share_key_sentence{
  /*padding: 0 2rem;*/
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 0.5rem;
  color: rgb(40,51,68);
}

.share_text{
  /*font-size: 100%;*/
  min-width: 20rem;
  text-align: center;
  /* display: block; */
  border: none;
  border-radius: 20px;
  padding: 0.8rem 1.4rem .6rem 1.4rem;
  margin: 0;
}

.share_text_wrapper{
  min-height: 40px;
}

.share_message_item{
  padding: 1rem;
  border: solid 1px white;
  border-radius: 2rem;
  border-bottom-right-radius: 0px;
}

.share_social_wrapper .svg_wrapper_social:before{
  content: '';
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /*background-color: rgb(248,160,160);*/
  background-color: white;
  position: absolute;
  border-radius: 50%;
}

.share_social_wrapper .svg_wrapper_social svg{
  /*fill: white;*/
  fill: rgb(244,96,96);
  position: relative;

}

.social{
  margin: 0 1rem;
  position: relative;
}
