.svg_wrapper_not_found{
  width: 80%;
  max-width: 30rem;
  height: auto;
}

.section_not_found .mozilla_button:hover{
  background-color: #005189;
  color: #fff;
}

.section_not_found_text{
  text-align: center;
  padding: 0 1rem;
}

.section_not_found_title{
  font-size: 145%;
  padding: 0 1rem;
}
