.section_welcome{
  z-index: 10;
  text-align: center;
  /*padding: 2rem 3.5rem;*/
}

.welcome_button_more{
    margin-bottom: 2.2rem;
    font-size: 1.8rem;
    border-radius: 10rem;
    min-height: 3.7rem;
}

.welcome_button_send{
  margin-bottom: 2rem;
  font-size: 1.2rem;
  border-radius: 10rem;
}

.svg_wrapper_header_logo{
  width: 11rem;
  height: auto;
  margin: 2rem 0 5rem 0;
}

.section_welcome_header{
  min-height: 15rem;
  padding-bottom: 4rem;
}

.svg_wrapper_header_name{
  width: 43rem;
  height: auto;
}

.welcome_text{
  font-family: "fira_sans";
  font-size: 140%;
  line-height: 130%;
  text-align: center;
}

.section_welcome_main{
  padding: 2rem;
  position: relative;
}

.welcome_link_wrapper{
  font-family: "fira_sans";
  position: absolute;
  bottom: 1rem;
  left: 2rem;
}

.welcome_link_wrapper p{
  font-size: 50%;
  margin: 0;
  padding: 0;
  margin-right: 5px;
  text-decoration: underline;
  opacity: .8;
}

.section_welcome_footer{
  min-height: 9rem; 
}

.section_welcome_footer p{
  font-family: "fira_sans";
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

}

.landing_small_text{
  font-family: "fira_sans";
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 50%;
  text-align: center;
  max-width: 20rem;
  margin-bottom: 20px;
}

.section_welcome_header_text{
  text-align: center;
}

.svg_wrapper_header_logo_wrp{
  margin-left: 9rem;
}
