.section_welcome{
  z-index: 10;
  text-align: center;
  /*padding: 2rem 3.5rem;*/
}

.welcome_button_more{
    margin-bottom: 2.2rem;
    font-size: 1.8rem;
    border-radius: 10rem;
    min-height: 3.7rem;
}

.welcome_button_send{
  margin-bottom: 2rem;
  font-size: 1.2rem;
  border-radius: 10rem;
}

.svg_wrapper_header_logo {
    width: 7rem;
    /*height: auto;*/
    margin: 1.2rem 0 1.6rem 0;
}

.svg_wrapper_landing_key{
  width: 8rem;
  margin-bottom: 2rem; 
}

.svg_wrapper_landing_key svg{
  width: 100%!important;
  height: 100%!important;
}
.section_welcome_header{
  min-height: 10rem;
}
.section_landing .section_welcome_main{
  padding-bottom: 4rem;
}

.svg_wrapper_welcome_footer_icon{
  width: 3rem;
}
.svg_wrapper_welcome_footer_icon svg{
  width: 20px;
}

.svg_wrapper_header_name{
  max-width: 32rem;
  height: auto;
  margin: 2rem;
}

.svg_wrapper_header_name svg{
  width: 100%;
  /*height: 100%;*/
}

.section_welcome_header_text{
  margin: 1rem 2rem;
  font-size: 80%;
  text-align: center;
}

.welcome_text{
  font-family: "fira_sans";
  font-size: 90%;
  line-height: 140%;
  text-align: center;
  margin: 1rem 0rem 2rem 0rem;
}

.welcome_the_other{
  font-size: 65%;
  margin: 3rem 3rem 0rem 3rem;
}
.welcome_the_other a{
  text-decoration: underline;
}

.welcome_the_other .logocompetitor{
  display: inline;
  width: 100px;
  vertical-align: text-bottom;
}

.section_welcome_main{
  padding: 1rem;
  position: relative;
}

.welcome_link{
  margin: 0;
  margin-left: 5px;
}

.welcome_link_wrapper{
  font-family: "fira_sans";
  position: absolute;
  bottom: 1rem;
  left: 2rem;
}

.welcome_link_wrapper p{
  font-size: 80%;
  margin: 0;
  padding: 0;
  margin-right: 19px;
  margin-left: 5px;
  opacity: .8;
}

.section_welcome_footer{
  min-height: 9rem; 
}

.section_welcome_footer p{
  font-family: "fira_sans";
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

}

.landing_small_text{
  font-family: "fira_sans";
  font-weight: 300;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 70%;
  text-align: center;
  margin-bottom: 20px;
  opacity: .6;
  line-height: 152%;
}

.svg_wrapper_header_logo_wrp{
  align-items: center;
}

.welcome_link_wrapper_opacity{
  opacity: .5;
  margin-left: 15px;
  color: white;
  font-family: "fira_sans"
}

.mobile_footer_small{
  position: absolute;
  bottom: 1rem;
  width: 100%;
  right: 0;
  left: 0;
}

.landing_encrypted_message,
  .share_encrypted_message{
    margin: 0.2rem 2rem 1.2rem 2rem;
    max-width: 80rem;
    line-height: 140%;
    padding: 15px;
    font-size: 50%;
    text-align: center;
    border-radius: 17px;
    background-color: #005189;
    position: relative;
    margin-bottom: 4rem;
    min-height: 7rem;
}

.landing_encrypted_message:after,
  .share_encrypted_message:after{
  content: '';
  position: absolute;
  width: 0;
  bottom: 0;
  right: 0;
  height: 0;
  border-top: solid 1.3rem transparent;
  border-bottom: solid 1.3rem #005189;
  border-left: solid 2rem #005189;
  border-right: solid 2rem transparent;
  transform: translateX(50%);
}

#landing_button_last{
  display: none;
}

.Learn_more_button{
  margin-top: 2rem!important;
  opacity: .6;
  text-decoration: underline;
  cursor: pointer;
}

.footer_first_links{
  font-family: "fira_sans";
  font-size: 1.6rem;
  margin: 0 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-weight: 300;
  color: white;
  opacity: .5;
  position: relative;
}
.footer_first_links:hover{
  color: white;
  opacity: .8;
}

/*.footer_first_links:before{
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: white;
}*/
