.section_main{
  z-index: 8;
  padding: 0;
}

.section_main_wrapper{
  width: 100%;
  height: 100%;
}

.main_content_top{
  height: 100%;
  padding-bottom: 4rem;
  padding-top: 8rem;
  background-color: #B3B3B3;
  position: relative;
  width: 100%;
}

.main_content_bottom{
  height: 100%;
  padding-top: 4rem;
  position: relative;
  width: 100%;
  background-color: #4D4D4D;
}

.main_keyslider{
  width: 100%;
  min-height: 11rem;
  background-color: white;
  position: relative;
  opacity: 1;
}

.main_keyslider .header__label{
  top: 1rem;
}

.header__label{
  position: absolute;
  top: 1.7rem;
  left: 2rem;
  opacity: .6;
  user-select: none;
}



.main_key_modal{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #414042;
  display: none;
  z-index: 3000;
}
.main_key_modal-open .main_key_modal {
  display: block;
}

.main_key_modal_emoji_wrapper{
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  padding: 4rem 2rem 2rem 2rem;
  font-size: 200%;
  overflow-y: scroll; 
  height: 100%;
  -webkit-overflow: touch;
}
.main_key_modal_emoji_container{
  height: 100%;
  flex-wrap: wrap;
  width: 100%;
} 
.main_key_modal_emoji_container p{
  margin: 0;
  padding: 0;
}

.main_key_modal_pages{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%,0);
}

.main_key_modal_pages_circle{
  width: 8px;
  height: 8px;
  background-color: gray;
  border-radius: 50%;
  margin: 0 3px;
}

#main_key_modal_close{
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%,0);
  color: white;
  cursor: pointer;
  /* move on top of everything */
  z-index: 3100;
}

.main_content_top .header__label,
.main_content_bottom .header__label{
  color: white;
}


/*.main_keyslider:after{
  position: absolute;
  content: "";
  width: 3px;
  height: 20px;
  left: 3rem;
  top: 0;
  transform: translate(-50%,-100%);
  background-color: #E6E6E6;
  z-index: 2500;
}

.main_keyslider:before{
  position: absolute;
  content: "";
  width: 3px;
  height: 20px;
  left: 3rem;
  bottom: 0;
  transform: translate(-50%,100%);
  background-color: #E6E6E6;
  z-index: 2500;
}
*/
.main_keyslider_bubble-top{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 3rem;
  bottom: -20px;
  transform: translate(-50%,100%);
  background-color: #E6E6E6;
  border-radius: 50%;
  z-index: 2500;
}

.main_keyslider_bubble-bottom{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 3rem;
  top: -20px;
  transform: translate(-50%,-100%);
  background-color: #E6E6E6;
  border-radius: 50%;
  z-index: 2500;
}

.main_keyslider_bubble-top p,
.main_keyslider_bubble-bottom p{
  margin: 0;
  padding: 0;
  font-size: 80%;
  opacity: .5;
  text-align: center;
}


.main_content_top_input{
  background-color: transparent;
  /* remove default styling */
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
}

.main_content_bottom_input{
  background-color: transparent;
}

.main_keyslider_cicle{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0,-50%);
  user-select: none;
  background-color: gray;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.keyslider{
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: none;
  -webkit-overflow: touch;
}

.keyslider_content{
  position: absolute;
  left: 0;
  height: 100%;
  font-size: 250%;
  padding-top: 2.6rem;
  padding-left: 1.4rem;
}

.keyslider .key{
  margin: 0 0rem; 
}

.keyslider .key.selected {
  background-color: #B3B3B3;
  border-radius: 50rem;
}

.header__input{
  top: 4px;
  font-size: 70%;
  width: 100%;
  text-align: center;
  border: none;
  height: 9rem;
  color: white;
  text-align: left;
  overflow-y: scroll;
  font-size: 120%;
  padding: 1.5rem 2rem 0 4rem;
}

.main_content_top_label{
  margin-top: 45px;
}

#encryption_share_button {
  display: none;
}

.encryption_share_button {
  margin: auto;
  padding: 0;
}

.main_share{
  background-color: #E6E6E6;
  height: 45px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;  
}

.main_keyslider_plus{
  width: 7rem;
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(230, 230, 230,1);
  position: absolute;
}

.main_keyslider_plus_circle{
  width: 3rem;
  height: 3rem;
  background-color: white;
  border-radius: 50%;
  margin: auto;
  transform: translate(0, 1rem);
}


.main_keyslider_plus_wrp{
  width: 100%;
  height: 100%;
}

.encryption_input_count{
  bottom: 1rem;
  left: 2rem;
  position: absolute;
  margin: 0;
  padding: 0;
  color: #E6E6E6;
}
