.section_share{
  text-align: center;
  color: white;
  height: 100%;
  width: 100%; 
  z-index: 3000; 
}

.share_message{
  height: 60%;
  font-size: 150%;
  letter-spacing: 2px;
  line-height: 120%;
  background-color: #6D6D6D;
  width: 100%;  
  padding: 0 2rem;
}

.share_key{
  height: 20%;
  background-color: #B2B2B2;
  font-size: 90%;
  letter-spacing: 2px;
  line-height: 120%;
  width: 100%;  
  padding: 0 2rem;
}

.share_social{
  height: 20%;
  background-color: white;
  width: 100%;  
  color: black;
}

.share_message_exit{
  margin: 0;
  width: auto;
  background-color: transparent;
  border:none;
  display:inline-block;
  cursor:pointer;
  padding:10px 15px;
  text-decoration:none;
  text-shadow: none;
  font-size: 80%;
  color: white;
  outline: none;
}

.share_message h3{
  max-width: 22rem;
}

.svg_wrapper_social{
  width: 4rem;
  height: 4rem;
}

.share_key_emoji{
  font-size: 250%;
  position: relative;
  text-align: center;
  min-width: 5rem;
  min-height: 5rem;
}

/*.share_key_emoji:before{
  content: "";
  width: 5rem;
  height: 5rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 3001;
}*/

.share_key_sentence{
  padding: 0 2rem;
}

.share_message_item{
  padding: 1rem;
  border: solid 1px white;
  border-radius: 2rem;
  border-bottom-right-radius: 0px;
}









