.header{
  position: fixed;
  z-index: 2000;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  height: 8rem;
  background-color: white;

}

.header_title{
  position: relative;
  padding-left: 2rem;
  margin: 0;
  height: 100%;
  font-size: 100%;
    color: gray;
}

.main_content{
  width: 100%;
  height: 100%;
}


.section_main{
    z-index: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
}

.main_keyslider{
  width: 100%;
  height: 12rem;
  background-color: #E6E6E6;
  position: relative;
}
.keyslider{
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.keyslider_content{
  position: absolute;
  left: 0;
  height: 100%;
  font-size: 250%;
}
.keyslider p{
  margin: 0 2rem; 
}
.main_content_top{
  height: 50%;
  padding-bottom: 4rem;
  padding-top: 8rem;
  background-color: #B3B3B3;
  position: relative;
}

.main_content_bottom{
  height: 50%;
  padding-top: 4rem;
  position: relative;
  background-color: #4D4D4D;
}

.header__label{
  position: absolute;
  top: 4px;
  left: 50%;
  font-size: 70%;
  transform: translate(-50%,0)
}

.main_content_top_label{
  margin-top: 8rem;
}

.main_content_bottom_label{
  margin-top: 0rem;
}

.header__input{
  position: absolute;
  top: 4px;
  font-size: 70%;
      width: 100%;
    text-align: center;
    border: none;
    padding: 0 2rem;
    height: 9rem;
}

.main_content_top_input{
    background-color: rgba(255,255,255,.1);
  margin-top: 11rem;
}

.main_content_bottom_input{
  margin-top: 7rem;
  background-color: transparent;
}





